
header{
  background-color: black;
}
.fa-youtube{
  color: red
}
Emphasis{
  color: blanchedalmond;
}
.fa-search {
  color: blanchedalmond;
}
.fa-ellipsis-v{
  color: blanchedalmond;
}
.main{ 
  list-style: none;
}
.hashtag{
  font-size: 2px;
}
.views{
  font-size: 1px;
}
.button{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 2px;
}
.uploader{
  display: flex;
  list-style: none;
  font-size: 2px;
}
.upnext{
  list-style: none;
  font-size: 8px;
}
